.button {
  height: 35px;
  line-height: 35px;
  min-width: 60px;
  padding: 0px 8px 0px 8px;
  color: #fff;
  font-size: 110%;
  text-align: center;
  @include content_box();
  border-radius: 5px;
  border: none;
  cursor: hand; 
  cursor: pointer;
  &.bBlue {
    color: $white_std;
    background-color: $blue_std;
    &:hover { background-color: $blue_dark; }
  }
  &.bGray {
    color: $white_std;
    background-color: $gray_std;
    &:hover { background-color: $gray_dark; }
  }
}