@mixin default_layout_width{
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}
html, body {
  height: 100%;
  width: 100%;
}
#fullsizeFrame {
  width: 100%;
  min-height: 100%;
  margin-bottom: -70px;
  &>.push {
    clear: both;
    height: 70px;
  }
}
.contentMedium {
  width: 600px;
  margin: 0 auto;
}
.contentFull {
  @include default_layout_width;
}
