// photo field
#new_property {
  .photo {
    .fileField {
      margin-right: 40px;
    }
    .radio_full {
      float: right;
    }
  }
}

// index
#propertyIndex {
  margin-right: -21px;
  .property {
    float: left;
    margin-top: 20px;
    height: 80px;
    width: 300px;
    margin-right: 20px;
    .dotDotDot {
      position: absolute;
      width: 20px;
      height: 80px;
      margin-left: 280px;
      
    }
    .mainPhoto {
      float: left;
      width: 106px;
      height: 81px;
      border-radius: 5px;
      border: 1px solid $gray_light;
      text-align: center;
      a {
        display: block;
        width: 100px;
        height: 75px;
        padding: 3px;
        line-height: 75px;
        font-size: 18px;
        &:hover {
          background-color: $gray_light;
        }
        img {
          width: 100px;
          height: 75px;
          background-color: $white_std;
          &:hover {
            background-color: none;
          }
        }
      }
    }
    .address {
      width: 180px;
      margin-left: 10px;
      float: left;
      white-space: nowrap;
      overflow: hidden;      
      .street {
        a {
          color: $black_std;
          font-size: 16px;
          &:hover {
            color: $blue_std;            
          }          
        }
      }
      .suburbCity {
        color: $gray_dark;
        font-size: 14px;        
      }
      .postcode {
        color: $gray_std;
        font-size: 13px;
      }
    }
    .propertyActions {
      position: absolute;
      margin-top: 60px;
      margin-left: 120px;
      height: 20px;
      color: $gray_std;
      a {
        color: $gray_std;
        &:hover {
          color: $blue_std;          
        }        
      }
    }
  }
}

// show
#propertyShow {
  .photos {
    width: 100%;
    min-height: 83px;
    // overflow: hidden;
    .photo {
      width: 100px;
      height: 75px;
      float: left;
      padding: 3px;
      border-radius: 3px;
      border: 1px solid $gray_light;
      margin-right: 5px;
      margin-bottom: 5px;
      img {
        width: 100px;
        height: 75px;
      }
      
    }
  }
}
