<div id="headerWrapper">
  <div id="header">
    <div id="profile">
      <div class="title">Daniel</div>
      <ul>
        <li><%= link_to t("link.profile"), root_path %></li>
        <li><%= link_to t("link.logout"), root_path %></li>
      </ul>
    </div>
  </div>
  <div id="top_menu">
    <div class="menu"><%= top_menu_tag :dashboard %></div>
    <div class="menu"><%= top_menu_tag :properties %></div>
  </div>
</div>
