<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head_tag' %>
</head>
<body>
<div id="fullsizeFrame">
  <%= render 'layouts/header' %>
  <div class="contentFull"><%= yield %></div>
  <div class="push"></div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
